.icon-48-tours {
      background-image: url(../images/l_tours.png);
      padding-left:60px!important;
}

.icon-48-tour {
      background-image: url(../images/l_tours.png);
      padding-left:60px!important;
}

.icon-48-orders {
      background-image: url(../images/l_orders.png);
      padding-left:60px!important;
}

.icon-48-order {
      background-image: url(../images/l_orders.png);
      padding-left:60px!important;
}

